<%- include("../partials/nav.ejs") %>

<h1>Edit Restaurant</h1>

<form action="/restaurants/<%= foundRestaurant._id %>?_method=PUT/edit" method="post">
    <div>

        <label for="name">Restaurant Name: </label>
        <input type="text" name="name" value="<%= foundRestaurant.name %>">
        <br>
        <label for="location">Restaurant location: </label>
        <input type="text" name="location" value="<%= foundRestaurant.location %>">
        <br>
        <label for="instagram">Restaurant instagram Account: </label>
        <input type="text" name="instagram" value="<%= foundRestaurant.instagram %>">
        <br>
        <label for="recommendation">What do you recommende to try? </label>
        <input type="text" name="recommendation" value="<%= foundRestaurant.recommendation %>">
        <br>
        <label for="details">Restaurant details: </label><br>
        <textarea name="details" id=""><%= foundRestaurant.details %></textarea>
        <br>
        <button type="submit">Submit Edit</button>
    </div>
</form>

</body>
</html>